#ScanInvoicesCanvasDiv {
    text-align: left;
}

.col-xxl-2 {
    width: auto;
}

.ScanInvoicesWaitModal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.8) url("../img/loading.gif") 50% 50% no-repeat;
}

body.loading .ScanInvoicesWaitModal {
    overflow: hidden;
    display: block;
}

.card-text {
	padding: 0.1rem 0.1rem;
}


.ScanInvoicesForm-label-group input {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
}


/* override bootstrap button to apply user dolibarr colors ? */
/* --colorbackhmenu1 not defined on "old" versions of dolibarr -> keep idea for later */
/* .btn-primary {
    background-color: var(--colorbackhmenu1);
    border-color: var(--colorbackhmenu1);
}

.btn-primary:disabled {
    background-color: var(--colorbackhmenu1);
    border-color: var(--colorbackhmenu1);
}

.btn-primary:active {
    background-color: var(--colorbackhmenu1);
    border-color: var(--colorbackhmenu1);
}

.btn-primary:hover {
    background-color: var(--colorbackhmenu1);
    border-color: var(--colorbackhmenu1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
}

.btn-primary:focus {
    background-color: var(--colorbackhmenu1);
    border-color: var(--colorbackhmenu1);
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.3);
} */

.ScanInvoicesSection {
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ScanInvoicesForm-label-group {
    position: relative;
    margin-bottom: 0.2rem;
    border-color: black;
}

.ScanInvoicesForm-label-group > input, .ScanInvoicesForm-label-group > div > input {
    padding-top: 1.2rem;
}

.ScanInvoicesForm-label-group > select {
    padding-top: 1.2rem;
    border-color: black;
}

.ScanInvoicesForm-label-group > label {
    padding: var(--input-padding-y) var(--input-padding-x);
}

.ScanInvoicesForm-label-group.form-control {
    padding-top: 1.2rem;
    border-color: black;
}

.ScanInvoicesForm-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0;
    /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    transition: all 0.1s ease-in-out;
}

.ScanInvoicesForm-label-group > input::-webkit-input-placeholder {
    color: transparent;
}

.ScanInvoicesForm-label-group > input:-ms-input-placeholder {
    color: transparent;
}

.ScanInvoicesForm-label-group > input::-ms-input-placeholder {
    color: transparent;
}

.ScanInvoicesForm-label-group > input::-moz-placeholder {
    color: transparent;
}

.ScanInvoicesForm-label-group > input::placeholder {
    color: transparent;
}

.ScanInvoicesForm-label-group > input:not(:placeholder-shown) {
    padding-bottom: calc(var(--input-padding-y) / 3);
}

.ScanInvoicesForm-label-group > input:not(:placeholder-shown) ~ label {
    padding-top: calc(var(--input-padding-y) / 3);
    padding-bottom: calc(var(--input-padding-y) / 3);
    font-size: 12px;
}

#ScanInvoicesGlobal {
	display: flex;
	padding-left: 50px;
}
#ScanInvoicesCanvasDiv.tabBar {
	background: unset;
	border: none;
}

#ScanInvoicesMenuGauche {
    z-index: 10;
}

#ScanInvoicesLeCanvas {
    position: fixed;
    z-index: 3;
	min-width: 200px;
	/* background-color: #ff433f;; */
}
#ScanInvoicesLeCanvasBackground {
    position: fixed;
    z-index: 2;
	min-width: 200px;
	/* background-color: #009879ea;; */
}

@media screen and (max-width: 768px) {
	#ScanInvoicesGlobal {
		display: block;
		padding-left: 0;
	}
	#ScanInvoicesLeCanvas, #ScanInvoicesLeCanvasBackground {
		max-width: 100%;
		width: calc(100% - 40px);
		/* pointer-events: none; */
	}
	#ScanInvoicesMenuGauche div.vmenu, #ScanInvoicesMenuGauche td.vmenu {
		width: 100%;	
	}
	
	#ScanInvoicesMenuGauche #id-right, #ScanInvoicesMenuGauche #id-left {
    	display: flex;
    	justify-content: space-evenly;
	}
}
	
#ScanInvoicesMydrop {
    min-height: 40px;
    border: 1px solid #888;
    background: #eee;
    cursor: pointer;
    text-align: center;
}

#ScanInvoicesMydrop.dragover {
    box-shadow: #00f 0px 0px 8px 2px;
}

#ScanInvoicesMydropLater {
    /*margin-top: 1em;
    margin-bottom: 1em; */
    min-height: 40px;
    border: 1px solid #888;
    background: #eee;
    cursor: pointer;
    text-align: center;
}

#ScanInvoicesMydropLater.dragover {
    box-shadow: #00f 0px 0px 8px 2px;
}

.ScanInvoicesStyled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.ScanInvoicesStyled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.ScanInvoicesStyled-table th,
.ScanInvoicesStyled-table td {
    padding: 12px 15px;
}

.ScanInvoicesStyled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.ScanInvoicesStyled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.ScanInvoicesStyled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.ScanInvoicesStyled-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

.ScanInvoicesStyled-select .select2-container{
	width: 100%!important;
	max-width: 250px;
}

.ScanInvoicesSection input[type="file"] {
	display: none;
}

/* Fix bug in bootstrap that overwrite placeholder with no expected class */
.placeholder {
    cursor: auto !important;
    background-color: unset !important;
}

.flex {
	display: flex;
	flex: auto;
	justify-content: space-between;
	margin: 0 -20px 0 -20px;
}
.flexitem {
	flex: auto;
	padding: 20px 10px 20px 10px;
	flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    width: 280px;
    margin: 20px 20px 20px 20px;
}

.flexnomargin {
	display: flex;
	flex: auto;
	justify-content: space-between;
}
.flexitemnomargin {
	flex: auto;
}


.divforapijpgfile {
    width: 100% !important;
    overflow-x: auto;
}	
img.apijpgfile {
    width: 50% !important;
}	


@media screen and (max-width: 768px) {
	.flex {
		display: flex;
		flex: auto;
		justify-content: space-between;
		margin: 5px -10px 5px -10px;
	}
	.flexitem {
		flex: auto;
		padding: 10px 5px 10px 5px;
		flex-grow: 1;
	    flex-shrink: 1;
	    flex-basis: auto;
	    width: 280px;
	    margin: 10px 10px 10px 10px;
	}
	img.apijpgfile {
		/* you can increase this % to 200% if there is 2 pages  and you want to show only 1 at once with an horizontal scroll on pages */
    	width: 100% !important;
	}
}


@media screen and (max-width: 1100px) {
	.float-start {
		float: none;
	}
	.ScanInvoicesSection {
		/* height: 100%; */
		/* display: flex; */
		/* flex-direction: column; */
		align-items: center;
		margin: 0 20px 0 20px;
	}	
	#ScanInvoicesLeCanvas {
		position: absolute;
		z-index: 3;
	}
	#ScanInvoicesLeCanvasBackground {
		position: absolute;
		z-index: 2;
	}
}
